.git
.gems
config/database.yml
config/dynamodb.yml
config/shards.yml
config/recording_server.yml
config/sidekiq.yml
config/pubnub.yml
config/tokbox.yml
config/initializers/local_config.rb
datafiles
public/media_items
public/media/games
public/tmp
vendor/bundle
log
tmp
*.deb
