@import 'music/library/v1/base/main';

.timer-wrapper {
  position: absolute;
  top: 6rem;
  right: 6rem;

  @include viewport-min('md') {
    top: 7rem;
    right: 6rem;
  }
}

.timer-wrap {
  position: fixed;
  bottom: auto;
  top: 0;
  margin: 4rem;
  margin-left: 0;
  width: rpx(75);
  padding-bottom: 0.25rem;
  height: auto;
  box-shadow: 0 0 rpx(10) #888;
  border: rpx(10);
  border-radius: rpx(10);
  background: #FFF url('/images/timer-corner.png') no-repeat rpx(2) rpx(2);
  cursor:pointer;

  &.minimized {
    height:20px;
    top:-20px;
    font-size:11px;
    text-align:right;
    color: #959595;

    &:after {
      content: 'view timer';
      padding-right: 5px;
    }
  }
}


// Colors
$grey-bar: #E6E7E8;
$inner-disc: #FFF;
$timer-bar: #98C5E4;

.timer-animation {
  background-image:linear-gradient(90deg, $timer-bar 50%, transparent 50%, transparent), linear-gradient(90deg, $grey-bar 50%, $timer-bar 50%, $timer-bar);
  left:17px;
  top:15px;
  display: inline-block;
  position: relative;
  width: 40px;
  padding-bottom: 40px;
  border-radius: 50%;
  background-color: $grey-bar; // default 100%

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    border-radius: 50%;
    background-color: $inner-disc;
  }

  &:after {
    content: '';
    position: absolute;
    width:5px;
    height:7px;
    right: 17px;
    background-color: #FFF;
  }
}

.countdown {
  margin: 0.25rem auto 0;
  display: table;
  color: #959595;
  padding-top: 10px;

  &.ending-countdown-color {
    color: #CC6A77;
  }

  &.large-clock {
    font-size: 1.25rem;
    padding-top: 1rem;
  }
}

@media (max-width: 500px) {
  .timer-animation {
    display: none;
  }

  .timer-wrap {
    background-image: none;
  }

  .countdown.large-clock {
    font-size: 0.875rem;
    padding-top: 0;
  }
}
