#content{
	width : 1300px;
	height: 1000px;
}

div.main_content{
	border-top:1px;
	border-right:1px;
	border-bottom:1px;
	border-style: solid;
	border-color: black;
	float:left;
	padding:10px;
	height:35%;
	width:48%;
}

div.passcode_page_break {
  height: 5px;
  page-break-after: always;
  clear: both;
}

div.image_description_container{
	width: 100%;
	height:60%;
	padding-left:10%;
	padding-top:5%;
}


div.program_image{
  max-width : 100px;
  max-height: 400px;
	width:40%;
  border-style: solid;
  border-width: 10px;
  border-color: red;
	float:left;
}

div.book_name{
  padding : 5px 5px 5px 5px;
  font-family:"Times New Roman", Times, serif;
  width : 100%;
  font-size: 30px;
  text-align : center;
}

div.access_level{
  padding : 5px 5px 5px 5px;
  font-family:"Times New Roman", Times, serif;
  width : 100%;
  height : 50px;
  font-size: 20px;
  text-align : center;
  font-color: #008B8B;
  background-position: center;
}

div.passcode_description{
	width:100%;
	height:50;
}

div.passcode_instructions{
  font-family:"Times New Roman", Times, serif;
  max-height : 200px;
  font-size: 20px;
  text-align : center;
  width : 100%;
}

div.passcode{
  font-family:"Times New Roman", Times, serif;
  max-height : 200px;
  text-align : center;
  font-size: 30px;
}

div.passcode_warning{
  font-family:"Times New Roman", Times, serif;
  max-height : 200px;
  text-align : center;
  font-size: 12px;
  width : 100%;
}

p.comments{
  font-family:"Times New Roman", Times, serif;
  max-height : 200px;
  font-size: 12px;
  text-align : center;
  background-color: #fff;
  width : 100%;
}

div.header{
  margin-left: 0px;
  background-color: blue;
}

div.footer{
  margin-left: 0px;
  background-color: green;
}

div.page_break{
	width : 100%;
	page-break-after : always ;
}