
div.search_results{
  border: 0px;
  padding-bottom :10px;
  margin : 10px;
}

div.search_results div.header{
  border: 0px;
  width:100%;
  font-weight: bold;
}

div.search_results span.header{
}

div.search_results div.details{
  background: #f5f5f5;
  margin-top: 10px;
  padding: 5px 15px;
  margin-bottom: 10px;
}

div.search_results span.name{
  border: 0px;
  font-weight: bold;
}
div.search_results span.enrolled_elsewhere{
  background: none repeat scroll 0 0 #e7e7e7;
  padding: 2px 18px;
}

div.active_sections{
  float: right;
  width: 60%;
  margin: 0 -20px 0 0;
  border: 0px;
}

table.active_sections{
  padding-bottom :10px;
  margin : 0px;
}

table.active_sections th {
  font-weight: bold;
  background: none repeat scroll 0 0 #e7e7e7;
}

table.active_sections td {
  vertical-align: top;
}


.add_students #search_results {
  margin-top: 10px;
}

.add_students #search_results .search_results {
  margin: 0px;
}

.add_students #search_results #additional_links {
  padding-top: 0px;
}

.add_students #search_results #additional_links #student_add_button {
  margin-top: 5px;
}
